@page "/experimentalModel/view/{Action}/{Id:int}"
@inject ExperimentalModelService experimentalModelService
@inject ModalService modalService
@inject ISnackbar snackbar
@inject NavigationManager navigation
@inject AuthService authService

@if(ExperimentalModel is null)
{
    <Loading />
}
else
{
    <MainForm @ref="Form">
        <MudTextField T="string"
                      Label="Nome"
                      @bind-Value="ExperimentalModel.Name"
                      Validation="@((string name) => ExperimentalModelDTO.ValidateName(name))"
                      Variant="Variant.Filled"
                      ReadOnly="@AType.IsVisualizationOnly()" />

        <MudTextField T="string"
                      Label="Descrição"
                      @bind-Value="ExperimentalModel.Description"
                      Validation="@((string description) => ExperimentalModelDTO.ValidateDescription(description))"
                      Variant="Variant.Filled"
                      Lines="5"
                      ReadOnly="@AType.IsVisualizationOnly()" />

        <MudButton FullWidth="true" Color="Color.Primary" OnClick="OpenDialogAsync" Variant="Variant.Filled" Class="mt-2">
            @(AType.IsVisualizationOnly() ? "Visualizar" : "Editar") modelo
        </MudButton>

        <div class="mt-2">
            @if (AType == ActionType.Create)
            {
                <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="RegisterAsync">
                    Cadastrar
                </MudButton>
            }
            @if (AType == ActionType.Edit)
            {
                <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="EditAsync">
                    Editar
                </MudButton>
            }
            @if (AType == ActionType.Delete)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="DeleteAsync">
                    Deletar
                </MudButton>
            }
        </div>
    </MainForm>
}





@code {
    private ActionType AType { get; set; }
    private ExperimentalModelDTO.View ExperimentalModel { get; set; } = default!;
    private MainForm Form { get; set; } = default!;

    [Parameter]
    public string Action { get; set; } = "";
    [Parameter]
    public int Id { get; set; } = 0;
    [SupplyParameterFromQuery]
    public int? CopyFrom { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        AType = Action.ToActionType();

        if (AType == ActionType.Create)
        {
            if (CopyFrom is not null)
            {
                Id = CopyFrom.Value;

                var queryExperimentalModel = await experimentalModelService.GetExperimentalModelById(Id, authService.User!.Id);

                if (queryExperimentalModel is not null)
                {
                    ExperimentalModel = queryExperimentalModel;
                }
                else
                {
                    snackbar.Add("Modelo para cópia é inválido ou não existe.", Severity.Error);
                    navigation.NavigateTo("/experimentalModel/index");
                    return;
                }
            }
            else
            {
                ExperimentalModel = new ExperimentalModelDTO.View();
            }

            return;
        }

        var experimentalModel = await experimentalModelService.GetExperimentalModelById(Id, authService.User!.Id);

        if (experimentalModel is null)
        {
            snackbar.Add("Modelo experimental não encontrado.", Severity.Error);
            navigation.NavigateTo("/experimentalModel/index");
            return;
        }

        ExperimentalModel = experimentalModel;
    }

    private async Task OpenDialogAsync()
    {
        if (AType.IsVisualizationOnly())
        {
            await modalService
                .ViewOnly()
                .ScreenSize()
                .Optional()
                .DisplayViewAsync(ExperimentalModel.Model, "Modelo");

            return;
        }

        var result = await modalService
        .CanEdit()
        .ScreenSize()
        .Required()
        .DisplayViewAsync(ExperimentalModel.Model, "Modelo") ?? "";

        ExperimentalModel.Model = result;
    }


    private async Task RegisterAsync()
    {
        if (!Form.Validate()) return;

        var toCreate = new ExperimentalModelDTO.Create
        {
            Name = ExperimentalModel.Name,
            Model = ExperimentalModel.Model,
            Description = ExperimentalModel.Description,
            ExperimenterId = authService.User!.Id
        };

        var result = await experimentalModelService.CreateExperimentalModel(toCreate);

        if (result.Success)
        {
            snackbar.Add("Experimento modelo criado com sucesso!", Severity.Success);
            navigation.NavigateTo("/experimentalModel/index");
        }
        else
        {
            Form.AddErrors(result.Errors);
        }
    }

    private async Task EditAsync()
    {
        var toEdit = new ExperimentalModelDTO.Edit
            {
                Id = ExperimentalModel.Id,
                Name = ExperimentalModel.Name,
                Model = ExperimentalModel.Model,
                Description = ExperimentalModel.Description,
                ExperimenterId = authService.User!.Id
            };

        var result = await experimentalModelService.EditExperimentalModel(toEdit);

        if (result.Success)
        {
            snackbar.Add("Experimento modelo editado com sucesso!", Severity.Success);
            navigation.NavigateTo("/experimentalModel/index");
        }
        else
        {
            Form.AddErrors(result.Errors);
        }
    }

    private async Task DeleteAsync()
    {
        if (!Form.Validate()) return;

        var result = await experimentalModelService.DeleteExperimentalModel(Id, authService.User!.Id);

        if (result.Success)
        {
            snackbar.Add("Experimento modelo deletado com sucesso!", Severity.Success);
            navigation.NavigateTo("/experimentalModel/index");
        }
        else
        {
            Form.AddErrors(result.Errors);
        }
    }
}
