@page "/register"
@using System.ComponentModel.DataAnnotations

<MudPaper Class="pa-4">
    <MudForm @ref="Form" @bind-IsValid="IsValid" Spacing="0">

        <MudTextField T="string"
                        Label="Login"
                        Validation="@((string login) => ExperimenterDTOs.ValidateUserName(login))"
                        @bind-Value="Experimenter.UserName"
                        Variant="Variant.Filled"/>
        <MudTextField T="string"
                        Label="Email" Required="true"
                        InputType="InputType.Email"
                        @bind-Value="Experimenter.Email"
                        Validation="@((string email) => ExperimenterDTOs.ValidateEmail(email))"
                        Variant="Variant.Filled" />
        <MudTextField T="string"
                        Label="Nome"
                        Validation="@((string name) => ExperimenterDTOs.ValidateName(name))"
                        @bind-Value="Experimenter.Name"
                        Variant="Variant.Filled" />
        <MudTextField T="string"
                        Label="Senha"
                        InputType="InputType.Password"
                        @bind-Value="Experimenter.Password"
                        Validation="@((string password) => ExperimenterDTOs.ValidatePassword(password))"
                        Variant="Variant.Filled" />
        <MudTextField T="string"
                        Label="Senha"
                        InputType="InputType.Password"
                        @bind-Value="Experimenter.RepeatPassword"
                        Validation="@((string repeatPassword) => ExperimenterDTOs.ValidateRepeatPassword(Experimenter.Password, repeatPassword))"
                        Variant="Variant.Filled" />

        <div class="mt-4">
            <MudButton OnClick="RegisterAsync"
                Variant="Variant.Filled" 
                Color="Color.Primary">Registrar</MudButton>
        </div>
            
    </MudForm>
</MudPaper>


@code {
    private MudForm Form;
    private bool IsValid;
    private ExperimenterDTOs.Register Experimenter = new();

    private async Task RegisterAsync(MouseEventArgs _)
    {
        if (!Experimenter.Validate())
        {
            await Form.Validate();
            return;
        }


    }
}
